CONNECTIVELY_USERNAME=login
CONNECTIVELY_PWD=pwd-from-mail
JAVA_HOME=C:\Users\CHANGEME\.jdks\openjdk-25.0.1
POSTGRESQL_JAR_PATH=C:/Users/CHANGEME/.m2/repository/org/postgresql/postgresql/42.7.13/postgresql-42.7.13.jar